body{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.9375rem;
    background-color: hsl(0, 0%, 95%);
    color: hsla(0, 0%, 100%, 0.75);
    margin: 10% 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 0 5%;
}

.column{
    padding: 2.5rem;
}

h2{
   font-family: 'Big Shoulders Display', cursive;
   padding-bottom: 2rem;
}

p{
    padding-bottom: 3rem;
}

button{
    border-radius: 1rem;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.9375rem;
    padding: 0.5rem;
    border-color: hsl(0, 0%, 95%);
    border: 0.15rem solid hsl(0, 0%, 95%);
}

.orange{
    color:hsl(31, 77%, 52%);
    background-color:hsl(0, 0%, 95%);
}

.orange:hover{
    color:hsl(0, 0%, 95%);
    background-color:hsl(31, 77%, 52%);
}

.green{
    color:hsl(184, 100%, 22%);
    background-color:hsl(0, 0%, 95%);
}

.green:hover{
    color:hsl(0, 0%, 95%);
    background-color:hsl(184, 100%, 22%);
}

.dark{
    color:hsl(179, 100%, 13%);
    background-color:hsl(0, 0%, 95%);
}

.dark:hover{
    color:hsl(0, 0%, 95%);
    background-color:hsl(179, 100%, 13%);
}

.sedan{
    background-color: hsl(31, 77%, 52%);
}

.suvs{
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
}

.attribution{
    color: black;
    bottom: 0;
    width: 100%;
    text-align: center;
}